
<!-- loading static -->

{% load static  %}
<!-- Favicon icon -->
<link rel="icon" href="{% static 'images/singapore.webp' %}" type="image/x-icon">

<!-- layers -->
<link rel="stylesheet" href="{% static 'layers/control.css' %}">

<!-- css for routing -->
<link rel="stylesheet" type="text/css" href="{% static 'routing/leaflet-routing-machine.css' %}">

<!--  -->
<link rel="stylesheet" type="text/css" href="{% static 'search/leaflet-search.css' %}">

<!-- legend -->

<link rel="stylesheet" href="{% static 'legend/leaflet-legend.css' %}">


<!-- geosearch -->

<link
  rel="stylesheet"href="https://unpkg.com/leaflet-geosearch@3.0.0/dist/geosearch.css">

